version: 2.1

orbs:
  win: circleci/windows@2.2.0

jobs:
  publish_nuget:
    executor: win/default
    steps:
      - checkout
      - run:
          name: Restore packages
          command: nuget restore GrasshopperAsyncComponent.sln
      - run:
          name: Build solution
          command: msbuild GrasshopperAsyncComponent.sln /p:Configuration=Release
      - run:
          name: Pack NuGet
          command: cd GrasshopperAsyncComponent; nuget pack GrasshopperAsyncComponent.csproj -Prop Configuration=Release -Symbols -SymbolPackageFormat snupkg
      - run:
          name: Push NuGet
          command: cd GrasshopperAsyncComponent; nuget push *.nupkg -Source https://api.nuget.org/v3/index.json -ApiKey $env:NUGET_AUTH_TOKEN -SkipDuplicate


workflows:
  publish:
    jobs:
      - publish_nuget:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/


    